/*
Custom style-sheet.
*/

body
{
  font-family: sans-serif;
  background-color: #333;
}
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}
.side-nav {
  position: fixed;
  top: 7.25%;
  width: 16.5%;
  background-color: #222;
  bottom: 7.25%;
}
.right-container {
  position: fixed;
  background-color:#fff;
  top: 7.25%;
  left: 16.5%;
  width: 83.5%;
  bottom: 7.25%;
  overflow-y: scroll;
}
.nav>.active>a {
  color: #fff;
  background-color: #080808;
}
.nav-item>a {
  height: 53px;
  color: #999;
  line-height: 40px;
  font-size: 14px;
}
.nav-item>a:hover {
  color: #fff;
  background-color: #000;
}
.btn-custom {
  background-color: #fff;
}
#login-unsuccess-informer, #title-error, #text-error, #error-message
{
 color: red;
}
.center-div
{
  margin: 17% 35%;
  width: 50%;
}
#image-manager, #images-list, #users-list-title
{
  text-align: center;
}
#page-list-title, #image-list-title
{
  padding-left: 60%;
}
.lleft
{
  background-color: gray;
}
.lleft:hover
{
  cursor: pointer;
}
#page-list-title, #image-manager, #image-list-title, tr, .lleft, #images-list, #users-list-title
{
  color: gainsboro;
}
#table-row
{
  background-color: grey;
  opacity: 0.8;
}
#table-row:hover
{
  background-color:grey;
  opacity: 1;
  cursor: pointer;  
}
#page-add-title
{
  text-align: center;
}
#cancel-button, #add-button
{
  cursor: default;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#table-images
{
  width: 100px;
  height: 100px;
}
#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #222;
  height: 7%;
}
.footer-block {
  color: #fff;
  margin: 1%;
}